
.icon-bra {
  background-image: url(../images/icons/sprite.png);
  background-position: 0px 0px;
  width: 100px;
  height: 101px;
}
.icon-complect {
  background-image: url(../images/icons/sprite.png);
  background-position: -100px 0px;
  width: 100px;
  height: 100px;
}
.icon-strep {
  background-image: url(../images/icons/sprite.png);
  background-position: -200px 0px;
  width: 100px;
  height: 100px;
}
.icon-trusi {
  background-image: url(../images/icons/sprite.png);
  background-position: 0px -101px;
  width: 100px;
  height: 100px;
}
